<tr>
  <td>
    <%= time_log.user.username %>
  </td>
  <td>
    <div class="dropdown">
      <%= best_in_place_if authenticate_user(time_log), [project, time_log], :hours, as: :input, html_attrs: { type: :number }, aria: { haspopup:"true", expanded: "false" }, data: { toggle: "dropdown" }, inner_class: "form-control", class: "btn btn-primary btn-link btn-sm", activator: "#activator-#{time_log.id}" %>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to "#", { class: "dropdown-item", id:"activator-#{time_log.id}" } do %>
          <i class="material-icons">edit</i>
          Edit Log
        <% end %>
        <%= link_to project_time_log_path(project, time_log), { class: "dropdown-item", method: :delete } do %>
          <i class="material-icons">delete</i>
          Delete Log
        <% end %>
      </div>
    </div>
  </td>
</tr>
