<tr>
  <td>
    <%= best_in_place [:admin, project, time_log], :user_id, as: :select, collection: users_array, html_attrs: { type: :number }, inner_class: "form-control", class: "btn btn-primary btn-link btn-sm" %>
  </td>
  <td>
    <div class="dropdown">
      <%= best_in_place [:admin, project, time_log], :hours, as: :input, html_attrs: { type: :number }, aria: { haspopup:"true", expanded: "true" }, data: { toggle: "dropdown" }, inner_class: "form-control", class: "btn btn-primary btn-link btn-sm", activator: "#activator-#{time_log.id}" %>
      <div class="dropdown-menu">
        <%= link_to "#", { class: "dropdown-item edit", id:"activator-#{time_log.id}" } do %>
          <i class="material-icons">edit</i>
          Edit Log
        <% end %>
        <%= link_to admin_project_time_log_path(project, time_log), { class: "dropdown-item", method: :delete } do %>
          <i class="material-icons">delete</i>
          Delete Log
        <% end %>
      </div>
    </div>
  </td>
</tr>
